@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lobby-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #222; /* Adjust the color to your preference */
  color: rgb(255, 255, 255);
  font-size: 56px;
  font-weight: 100;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Luckiest Guy', cursive;
}

.lobby-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../public/portsniffer.png");
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 2s ease-in;
}

.fade-in {
  opacity: 1;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
}

.start-sniffin {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.start-sniffin:hover {
  transform: scale(1.1);
}

.start-sniffin:focus {
  outline: none;
}

.lobby.animate .background-image {
  opacity: 0;
}

.lobby.animate .start-sniffin {
  transform: translateY(-100px);
  opacity: 1;
}

/* Add the following styles to your CSS file */

.flashing-text {
  position: absolute;
  bottom: 0;
  left: 35vw;
  animation: flashingAnimation 1s linear infinite;
}

@keyframes flashingAnimation {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}


.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
}

.start-sniffin {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.start-sniffin:hover {
  transform: scale(1.1);
}

.start-sniffin:focus {
  outline: none;
}

.lobby.animate .background-image {
  opacity: 0;
}

.lobby.animate .start-sniffin {
  transform: translateY(-100px);
  opacity: 1;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  color: rgb(200, 207, 202);
  font-weight: 100;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Luckiest Guy', cursive;
}

.start-game-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.start-game-button:hover {
  background-color: #45a049;
}

.opponents-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title-text {
  font-size: 70px;
  margin-top: 1%;
  padding-bottom: 0px;
}

.face-card {
  border: 3px solid #000;
  border-radius: 10px;
}

.no-margin {
  margin-inline-start: 0px !important
}

.card-image {
  border: 3px solid #000;
  border-radius: 10px;
  --_width: 100px;
  width: var(--_width);
}

.opponent .card-image {
  --_width: 40px;
}


.face-card:hover {
  border: 5px solid #2fa847
}

.face-card.clicked {
  border: 5px solid red;
}

.card-targeted {
  border: 5px solid #2fa847
}

.player-target:hover {
  color:rgb(40, 150, 180);
}

.player-target.clicked {
  text-shadow: 0 0 10px red
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
  min-width: 150px;
  padding-top: 0.5rem;
}

.player-name.active {
  color: #a4790b;
}

body {
  background-image: url('../public/boardback.png');
  background-size: cover;
}
